In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('supershops.csv')

In [3]:
df.head()

   Marketing Spend  Administration  Transport     Area     Profit
0        114523.61       136897.80  471784.10    Dhaka  192261.83
1        162597.70       151377.59  443898.53      Ctg  191792.06
2        153441.51       101145.55  407934.54  Rangpur  191050.39
3        144372.41       118671.85  383199.62    Dhaka  182901.99
4        142107.34        91391.77  366168.42  Rangpur  166187.94

In [4]:
df.shape

(50, 5)

In [5]:
df1 = df.copy()
df2 = df.copy()
df3 = df.copy()
df4 = df.copy()
df5 = df.copy()

# Normalization

In [6]:
# http://scikit-learn.org/stable/modules/generated/sklearn.preprocessing.MinMaxScaler.html
from sklearn.preprocessing import MinMaxScaler

In [7]:
m = MinMaxScaler(feature_range=(0,1))
# ms = m.fit (df['Marketing Spend'])

In [8]:
df['Marketing Spend'] = m.fit_transform(df[['Marketing Spend']])

In [9]:
df['Administration'] = m.fit_transform(df[['Administration']])

In [10]:
df['Transport'] = m.fit_transform(df[['Transport']])

In [37]:
df['Profit'] = m.fit_transform(df[['Profit']])

In [38]:
df.head()

   Marketing Spend  Administration  Transport     Area    Profit
0         0.692617        0.651744   1.000000    Dhaka  1.000000
1         0.983359        0.761972   0.940893      Ctg  0.997355
2         0.927985        0.379579   0.864664  Rangpur  0.993178
3         0.873136        0.512998   0.812235    Dhaka  0.947292
4         0.859438        0.305328   0.776136  Rangpur  0.853171

# Using For Loop

In [18]:
for i in df1:
    if type (df1 [i][0]) is not str:
        df1[i] = m.fit_transform(df1[[i]])
        
df1.head()

   Marketing Spend  Administration  Transport     Area    Profit
0         0.692617        0.651744   1.000000    Dhaka  1.000000
1         0.983359        0.761972   0.940893      Ctg  0.997355
2         0.927985        0.379579   0.864664  Rangpur  0.993178
3         0.873136        0.512998   0.812235    Dhaka  0.947292
4         0.859438        0.305328   0.776136  Rangpur  0.853171

# Standardization

In [26]:
from sklearn.preprocessing import StandardScaler

In [27]:
sc = StandardScaler()

In [ ]:
#ms = scaler.fit(df2[['Marketing Spend']])

In [28]:
df2['Marketing Spend'] = sc.fit_transform(df2[['Marketing Spend']])

In [29]:
df2['Administration'] = sc.fit_transform(df2[['Administration']])

In [33]:
df2['Transport'] = sc.fit_transform(df2[['Transport']])

In [35]:
df2 ['Profit'] = sc.fit_transform(df2[['Profit']])

In [36]:
df2.head()

   Marketing Spend  Administration  Transport     Area    Profit
0         0.897913        0.560753   2.165287    Dhaka  2.011203
1         1.955860        1.082807   1.929843      Ctg  1.999430
2         1.754364       -0.728257   1.626191  Rangpur  1.980842
3         1.554784       -0.096365   1.417348    Dhaka  1.776627
4         1.504937       -1.079919   1.273550  Rangpur  1.357740

# Using For Loop

In [32]:
for i in df2:
    if type (df2[i] [0]) is not str:
        df2[i] = sc.fit_transform(df2[[i]])
        
df2.head()

   Marketing Spend  Administration  Transport     Area    Profit
0         0.897913        0.560753   2.165287    Dhaka  2.011203
1         1.955860        1.082807   1.929843      Ctg  1.999430
2         1.754364       -0.728257   1.626191  Rangpur  1.980842
3         1.554784       -0.096365   1.417348    Dhaka  1.776627
4         1.504937       -1.079919   1.273550  Rangpur  1.357740

# Robust Scaler

In [41]:
from sklearn.preprocessing import RobustScaler
rc = RobustScaler()

In [ ]:
#ms = rosc.fit(df3[['Marketing Spend']])

In [42]:
df3 ['Marketing Spend'] = rc.fit_transform(df3[['Marketing Spend']])

In [43]:
df3 ['Administration'] = rc.fit_transform(df3[['Administration']])

In [44]:
df3 ['Transport'] = rc.fit_transform(df3[['Transport']])

In [45]:
df3 ['Profit'] = rc.fit_transform(df3[['Profit']])

In [46]:
df3.head()

   Marketing Spend  Administration  Transport     Area    Profit
0         0.672530        0.345355   1.552016    Dhaka  1.698340
1         1.452113        0.697565   1.383714      Ctg  1.688874
2         1.303634       -0.524290   1.166654  Rangpur  1.673929
3         1.156567       -0.097977   1.017368    Dhaka  1.509736
4         1.119836       -0.761543   0.914576  Rangpur  1.172943

# Using For Loop

In [47]:
for i in df3:
    if type (df3[i][0]) is not str:
        df3[i] = rc.fit_transform(df3[[i]])
        
df3.head()

   Marketing Spend  Administration  Transport     Area    Profit
0         0.672530        0.345355   1.552016    Dhaka  1.698340
1         1.452113        0.697565   1.383714      Ctg  1.688874
2         1.303634       -0.524290   1.166654  Rangpur  1.673929
3         1.156567       -0.097977   1.017368    Dhaka  1.509736
4         1.119836       -0.761543   0.914576  Rangpur  1.172943

# Max Absolute Scaler

In [49]:
from sklearn.preprocessing import MaxAbsScaler

In [50]:
mx = MaxAbsScaler()

In [51]:
#ms = scaler.fit(df4[['Marketing Spend']])

In [52]:
df4['Marketing Spend'] = mx.fit_transform(df4[['Marketing Spend']])

In [53]:
df4['Administration'] = mx.fit_transform(df4[['Administration']])

In [54]:
df4['Transport'] = mx.fit_transform(df4[['Transport']])

In [55]:
df4['Profit'] = mx.fit_transform(df4[['Profit']])

In [56]:
df4.head()

   Marketing Spend  Administration  Transport     Area    Profit
0         0.692617        0.749527   1.000000    Dhaka  1.000000
1         0.983359        0.828805   0.940893      Ctg  0.997557
2         0.927985        0.553781   0.864664  Rangpur  0.993699
3         0.873136        0.649738   0.812235    Dhaka  0.951317
4         0.859438        0.500378   0.776136  Rangpur  0.864383

# Using For Loop

In [57]:
for i in df4:
    if type (df4[i][0]) is not str:
        df4[i] = mx.fit_transform(df4[[i]])
        
df4.head()

   Marketing Spend  Administration  Transport     Area    Profit
0         0.692617        0.749527   1.000000    Dhaka  1.000000
1         0.983359        0.828805   0.940893      Ctg  0.997557
2         0.927985        0.553781   0.864664  Rangpur  0.993699
3         0.873136        0.649738   0.812235    Dhaka  0.951317
4         0.859438        0.500378   0.776136  Rangpur  0.864383